* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 62px;
    color: #B48C5C;
    word-wrap: break-word;
    min-height: 10px;
}

h2 {
    font-size: 48px;
    color: #B48C5C;
    display: inline-block;
    width: 452px;
    padding: 20px 0px;
    word-wrap: break-word;
    font-weight: 700;
    min-height: 58px;
}

h3 {
    font-size: 32px;
    color: #B48C5C;
    display: inline-block;
    width: 219px;
    padding: 10px;
    word-wrap: break-word;
    min-height: 39px;
}

h4 {
    font-size: 21px;
    color: #B48C5C;
    display: inline-block;
    width: 50%;
    padding: 10px;
    word-wrap: break-word;
}

.primaryBtn {
    margin: 20px 0px;
    min-height: 50px;
    width: 190px;
    background-color: #B48C5C;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 18px;
    &:hover {
        border: 1px solid #B48C5C;
        background-color: #fff;
        color: #B48C5C;
        transition: 0.5s ease;
    }
}

button span {
    font-size: 20px;
}

.secondaryBtn {
    margin: 10px;
    min-height: 50px;
    background-color: #F8F5F0;
    border: none;
    width: 190px;
    border-radius: 15px;
    color: #B48C5C;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
        background-color: #B48C5C;
        transition: 0.5s ease;
        color: #F8F5F0;
        border: 1px solid #F8F5F0;
    }
}

.secondaryBtn2 {
    margin: 10px;
    min-height: 46px;
    background-color: #B48C5C;
    width: 104px;
    border-radius: 15px;
    color: #F8F5F0;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #F8F5F0;
    &:hover {
        background-color: #F8F5F0;
        transition: 0.5s ease;
        color: #B48C5C;
    }
}

.leftPhra {
    font-size: 22px;
    margin-top: 20px;
    color: #B48C5C;
    word-wrap: break-word;
    min-height: 30px;
}

.centerPhra {
    font-size: 22px;
    color: #B48C5C;
    width: 861px;
    padding: 20px;
    word-wrap: break-word;
    min-height: 125px;
}
                                       /* NavBar */

.header {
    background-color: #B48C5C;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0px
}

.section {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1920px;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    line-height: 65px;
    align-items: center;
    width: 100%;
}

.logo {
    color: #fff;
    align-items: center;
    height: 40px;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 100%;
}

.menu ul {
    display: flex;
    gap: 47px;
}

.menu li a {
    color: #fff;
    font-size: 18px;
    &:hover {
        text-decoration: underline;
    }
}

.toogleBtn {
    display: none;
}

@media screen and (max-width: 1440px) {

    .menu ul {
        gap: 10px;
    }

    .menu ul li a {
        font-size: 13px;
    }

    .secondaryBtn {
        font-size: 13px;
        height: 38px;
        width: 128px;
    }

    .secondaryBtn2 {
        font-size: 13px;
        height: 36px;
        width: 70px
    }

    button span {
        font-size: 18px;
    }

}

@media screen and (max-width: 870px) {
    .secondaryBtn2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu, .secondaryBtn, .secondaryBtn2 {
        display: none;
    }

    .toogleBtn {
    display: block;
    font-size: 25px;
    color: #F8F5F0;
    cursor: pointer;
    }
}
                                        /* Home*/

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 746px;
    background-color: #F8F5F0;
}

.home-cont {
    height: 746px;
    /* height: 100%; */
}

.content {
    width: 100%;
    min-height: 746px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(IMG/hero\ banner.png);
}

.left-content {
    width: 443px;
    min-height: 441px;
    margin-left: 50px;
}

.full-img {
    display: none;
}

@media screen and (max-width: 1400px) {
    .left-content h1 {
        font-size: 45px;
    }

    .left-content {
        width: 288.1px;
        height: 320px;
    }

    .leftPhra {
        font-size: 16px;
    }

    .primaryBtn {
        font-size: 13px;
        height: 38px;
        width: 140px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        background-image: none;
        justify-content:center;
    }

    .left-content {
        width: 500px;
        height: 320px;
        text-align: center;
        margin-top: 80px;
        margin-left: 0px;
    }

    .full-img {
        display: block;
    }

    .full-img img {
        height: 100%;
        width: 100%;
    }

    .home {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}
                                            /* About */

.top {
    text-align: center;
    width: 100%;
}

.topInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

.topInner h2 {
    position: relative;
}

.topInner h2::before {
    content: '';
    height: 4px;
    width: 250px;
    background-color: #B48C5C;
    position: absolute;
    top: 60px;
    left: -300px;
}

.topInner h2::after {
    content: '';
    height: 4px;
    width: 250px;
    background-color: #B48C5C;
    position: absolute;
    top: 60px;
    right: -300px;
}

.cardsDiv {
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cards {
    min-height: 453px;
    width: 379px;
    background-image: url(IMG/second.png);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin:20px;
}

.cardsText p {
    width: 70%;
    height: 20%;
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.cardsText {
    width: 295px;
    min-height: 107px;
    background-color: #F8F5F0;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1400px) {
    .topInner h2::before,.topInner h2::after {
        display: none;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 30px;
    }

    .centerPhra {
        font-size: 16px;
        width: 600px;
    }
    
    .cards {
        height: 350px;
        width: 239px;
    }

    .cardsText {
        width: 160px;
        height: 70px;
    }

    h4 {
        font-size: 13px;
    }

    .cardsText p {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {

    .topInner {
        width: 100%;
    }
    .topInner h2 {
        font-size: 35px;
        width: 200px;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }

    h3 {
        font-size: 25px;
        width: 100%;
        height: 100%;
    }
    .centerPhra {
        font-size: 13px;
        width: 300px;
    }

    .cardsDiv {
        flex-direction: column;
        align-items: center;
    }
    
}
                                            /* Location */
                            
.location-maps {
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    background-color: #F8F5F0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.location {
    width: 384px;
    margin: 20px;
}

.maps {
    height: 568px;
    width: 1109px;
}

.maps img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1600px) {

    .location {
        height: 288px;
        width: 650px;
    }
    .maps {
        height: 368px;
        width: 700px;
    }
}

@media screen and (max-width:1400px) {

    .location h2 {
        font-size: 45px;
    }

    .location {
        width: 500px;
        height: 320px;
    }

    .leftPhra {
        font-size: 16px;
    }

    .primaryBtn {
        font-size: 13px;
        height: 38px;
        width: 140px;
    }
}


@media screen and (max-width: 768px) {

    .location-maps {
        justify-content:center;
    }

    .location {
        text-align: center;
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location h2 {
        font-size: 35px;
        width: 200px;
        padding: 0px;
        margin: 0px;
    }

}
                                            /* Price */

.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

.priceCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 470px;
}

.priceLeft {
    background-color: #F8F5F0;
    min-height: 470px;
    align-content: center;
}

.leftCont {
    width: 318px;
    min-height: 230px;
    text-align: center;
    margin: 0px 50px;
    color: #B48C5C;
    font-weight: 400;
}

.leftCont h3 {
    font-size: 23px;
    width: 302px;
    min-height: 50px;
    font-weight: 700;
    font-size: 41px;
}

.leftCont p {
    font-size: 26px;
    min-width: 233px;
    min-height: 62px;
    font-weight: 400;
    padding-bottom: 20px;
}

.priceright {
    width: 726px;
    min-height: 469px;
}

.priceright img {
    width: 100%;
    height: 100%;
}

.end {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    padding-top: 30px;
}

@media screen and (max-width:1158px) {
    .priceLeft {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .priceright {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .upper {
        width: 100%;
    }
    .upper h2 {
        font-size: 35px;
        width: 200px;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
}
                                           /* Faciliites */

.facilities-img {
    height: 100%;
    margin-top: 30px;
}

.innerContainer {
    background-image: url(IMG/Facilities\ &\ services.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.serviceCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
}

.row1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.row2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.serBox1 {
    min-height: 320px;
    width: 280px;
    border-radius: 10px;
    background-color: #B48C5C;
    margin: 30px;
    padding-bottom: 20px;
}

.box1head {
    display: flex;
    padding: 40px;
    align-items: center;
    color: #F8F5F0;
}

.box1head span {
    font-size: 40px;
}

.box1head p {
    font-weight: 700;
}

.box1ContServ {
    color: #F8F5F0;
    padding: 0px 10px;
    margin-bottom: 10px;
    text-align: center;
}

                                        /* Visa service */

.visaLeft {
    border: 1px solid #B48C5C;
    padding: 50px 15px;
}

.clientCards {
    min-height: 453px;
    width: 379px;
    background-color: #F8F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.clientHed span {
    margin-left: 40px;
    width: 200px;
    font-size: 30px;
    min-height: 27px;
    word-wrap: break-word;
}

.clientServ {
    width: 250px;
    font-size: 19px;
    text-align: center;
    min-height: 176px;
    margin-bottom: 10px;
}

.client1Head, .clientServ {
    color: #B48C5C;
}

@media screen and (max-width: 768px) {
    .clientCards {
        width: 100%;
        height: 100%;
        margin: 30px 20px;
    }
}
                                            /* Contact */ 

.contact {
    background-image: url(IMG/Rectangle\ 17.png);
    min-height: 700px;
    padding: 100px 200px;
    background-size: cover;
    margin-top:30px;
    background-blend-mode: darken;
    position: relative;
    z-index: -2;
}

.contact::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.contOuter {
    min-height: 837px;
    border: 3px solid #B48C5C;
    padding: 30px 50px;
}

.countInner {
    min-height: 790px;
    border: 3px solid #B48C5C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countInnerHead {
    width: 45%;
    text-align: center;
    color: #F8F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countInnerHead h2 {
    color: #B48C5C;
    padding: 20px 0px;
} 

.countInnerHead p {
    color: #F8F5F0;
}

.counterDetails {
    display: flex;
    width: 90%;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
    color: #F8F5F0;
    padding: 10px 0px 5px 20px;
}

.entrDate {
    width: 407px;
    height: 62px;
    font-size: 28px;
    border-radius: 6px;
    padding: 0px 10px;
    background-color: #F8F5F0;
    color: #B48C5C;
    border: none;
    cursor: pointer;
}

.entrDate::placeholder {
    padding: 0px 20px;
}

@media screen and (max-width: 1400px) {
    .counterDetails {
        width: 53%;
    }
    .entrDate {
        width: 250px;
        height: 50px;
    }
}

@media screen and (max-width: 1400px) {
    .countInner, .contOuter,.counterDetails, .contact {
        border: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .countInner {
        padding-bottom: 30px;
    }
    .countInnerHead {
        padding: 0px;
        width: 100%;
    }

    .countInnerHead h2{
        width: 100%;
    }
}
                                            /* Footer */

footer {
    background-color: #B48C5C;
}
.foot1 {
    text-align: center;
    padding: 40px 0px;
    background-color: #B48C5C;
}

.foot1 h2 {
    color: #fff;
    width: 565px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px 0px;
}

.email-input {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    height: 40px;
}

.submit-btn {
    padding: 7px 40px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.email-input::placeholder {
    color: #B48C5C;
    text-align: center;
    font-size: 18px;
}

.submit-btn:hover {
    background: white;
    color: #B48C5C;
}

.foot2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 3px solid #fff;
    padding: 20px 0px;
}

.footLeft {
    color: #fff;
    display: flex;
    align-items: center;
}

.footLeft h3 {
    font-size: 28px;
    padding: 10px 30px;
    box-sizing: border-box;
}

.mainSub {
    display: flex;
    padding: 10px 30px;
    width: 300px;
    justify-content: space-between;
}

.subLeft {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-size: 22px;
}

.subRight {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-size: 22px;
}

.footRight {
    color: #fff;
}

.footRight h3 {
    font-size: 28px;
    padding: 10px 0px;
}

.subFootRight {
    width: 300px;
    margin: 20px 0px;
}

.subFootRight p {
    padding: 5px 0px;
    font-size: 22px;
}

.foot3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.footSocial {
    width: 300px;
    padding: 30px 0px 0px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    text-align: center;
}

.footSocial span {
    font-size: 35px;
}

@media screen and (max-width: 1400px) {
    .footRight h3, .footLeft h3 {
        font-size: 20px;
    }
    .subLeft, .subRight , .subFootRight p {
        font-size: 16px;
    }

    .foot1 h2 {
        width: 100%;
    }
}